@import "../../../styles/variables";

.contactsContainer{
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 13pt;
  font-weight: bold;
}

.contactItemContainer{
  display: flex;
}

.contactItemData{
  padding-left: 10px;
}