@import "../../../styles/variables";


.contentContainer{
  flex-grow: 1;
  overflow-y: scroll;
}

.contentItem{
  padding: 10px 20px 10px 35px;
}

.contentHeader{
  font-weight: bold;
  color: #FFF;
  font-size: 50pt;
  transition: $transition_slow;
  text-shadow: 3px 3px 6px #00000033;
}

.contentHeaderActive{
  color: $color_accent_1 !important;
  text-shadow: 3px 7px 5px #00000033;
}


.contentItemContainer{
  margin: 5px 0 35px 0;
  text-align: center;
  background: $color_darkmode_black2;
  padding: 28px;
  border-radius: 5px;
  box-shadow: 3px 7px 5px -4px #00000033;
  height: 600px;
}

.contentEndFin{
  font-family: 'Dancing Script', cursive;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 72vh;
  padding-top: 30vh;
  font-size: 200pt;
  user-select: none;
  text-shadow: 0px 0px 50px #00000059;
}

.subtextFin{
  font-size: 35pt;
  text-align: center;
}

@keyframes finani {
  from{
    color: #fff;
  }
  to{
    color: $color_accent_1;
    transform: skew(0deg, 27deg);
  }
}