@import "../../../styles/variables";

.contentItem{
  margin: 10px 0px 10px 35px;
}

.contentHeader{
  font-weight: bold;
  margin: 0px;
  color: #FFF;
  font-size: 50pt;
}

.contentContainer{
  margin: 0px;
}
