@import "../../../styles/variables";

.sidebarContainer{
  width: 390px;
  height: 100%;
  background: $color_darkmode_black2;
  box-shadow: 0px 10px 25px -2px #00000054;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarContainerAppear{
  animation-name: MainPageSidebarAppear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.sidebarContainerDisappear{
  animation-name: MainPageSidebarDisappear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.sidebarNameContainer{
  display: flex;
  justify-content: flex-start;
  padding: 20px 15px;
  background: $color_accent_1;
  color: $color_text_white1;
  align-items: center;
  user-select: none;
  //border-bottom: 4px solid $color_accent_2
}

.sidebarNamePic{
  margin: 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-size: cover;
  border: 3px solid $color_accent_3;
  transition: $transition_Coin;
}

.sidebarNameContainer:hover .sidebarNamePic{
  transform: rotateY(360deg);
}
.sidebarNameTextContainer{
  margin-left: 15px;
}

.sidebarName{
  font-weight: bold;
  font-size: 12pt;
}

.sidebarNameDesc{
  font-size: 10pt;
}

.sidebarLinksContainer{
  bottom: 0;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  background: $color_darkmode_black3;
  border-top: 3px solid $color_darkmode_black4;
}

.sidebarLinksIconHolder{
  transition: $transition_mid;
  width: 20px;
  cursor: pointer;
  border-radius: 45px;
}

.sidebarLinksIconHolderTwitter{
  transition: $transition_mid;
  width: 17px;
  cursor: pointer;
  padding: 2px;
  border-radius: 3px;
}

.linkedin:hover{
  background: #0077B5;
  transform: scale(1.05);
  box-shadow: 1px 4px 10px 2px #0000009e;
}

.facebook:hover{
  background: #3b5998;
  transform: scale(1.05);
  box-shadow: 1px 4px 10px 2px #0000009e;
}

.github:hover{
  background: rgba(0, 0, 0, 0.98);
  transform: scale(1.05);
  box-shadow: 1px 4px 10px 2px #0000009e;
}

.twitter:hover{
  background: #38A1F3;
  transform: scale(1.05);
  box-shadow: 1px 4px 10px 2px #0000009e;
}

.medium:hover{
  background: #292929;
  transform: scale(1.05);
  border-radius: 2px;
  box-shadow: 1px 4px 10px 2px #0000009e;
}

.defaultHover:hover{
  background: $color_accent_1;
  transform: scale(1.05);
  box-shadow: 1px 4px 10px 2px #0000009e;
}

.sidebarNavigationContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarNavigationItemContainer{
  width: 100%;
  padding-top: 10px;
}
.sidebarNavigationItem{
  width: auto;
  padding: 30px 20px;
  color: $color_text_white1;
  //border: 3px solid $color_darkmode_black2;
  font-weight: bold;
  font-size: 11pt;
  cursor: pointer;
  transition: $transition_mid;
  //border-top: 1px solid $color_darkmode_black3;
  //border-bottom: 2px solid $color_darkmode_black3;
  //box-shadow: inset 0 -2px 1px -1px #000;
}
// Animations
.sidebarNavigationItem:hover{
  background: $color_darkmode_black2;
  background: #414141;
  transform: translate(5%, -6%) scale(1.05);
  box-shadow: 22px 30px 33px -27px #0000009c, inset 0 0px 0px 2px #5a5a5a66;
}

.sidebarNavigationItemSelected{
  background: rgba(255, 255, 255, 0.07);
}


.downloadIconHolder{
  width: 18px;
  padding-right: 5pt;
}

.downloadResumeContainer{
  background: $color_accent_2;
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 11pt;
  cursor: pointer;
  font-weight: bold;
  transition: $transition_mid;
}

.downloadResumeContainer:hover{
  background: $color_accent_6;
  color: $color_text_white1;
}
@keyframes MainPageSidebarAppear {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0%);
  }
}

@keyframes MainPageSidebarDisappear {
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-100%);
  }
}