@import "./variables";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: inherit;
}

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover
{
  color:#00A0C6;
  text-decoration:none;
  cursor:pointer;
}

