@import "variables";

.mockup_Body{
  width: 100%;
  height: 100%;
}
.mockup_HeadBar{
  height: 72px;
  width: 100%;
  box-shadow: 0 1px 0 0 $color_silver;
  FONT-VARIANT: JIS04;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background: #fff;
  top: 0;
}

.mockup_HeadBarImage{
  height: 30px;
  width: 123px;
}

.mockup_CardContainer{
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mockup_Card{
  width: 456px;
  background: $color_bg_shade1;
  margin: 12px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 $color_silver;
  border: solid 1px $color_silver;
  padding: 24px;
  transition: $transition_mid;
  cursor: pointer;
  display: flex;
}

.mockup_CardInfocardLogoImageBG{
  height: 27px;
  width: 27px;
  border-radius: 100px;
  background: $color_CardImgblue;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.mockup_CardInfocardLogoImage{
  height: 27px;
  width: 27px;
}
.mockup_Card:hover{
  //border: solid 1px #81878c;
  box-shadow: 0 3px 4px 0 $color_silver;
}

.mockup_Card:hover .mockup_CardInfoHeader{
  color: $color_CardImgblue;
  transform: scale(1.01);
}

.mockup_CardLogoContainer{
  margin: 0;
}

.mockup_CardInfoContainer{
  margin-left: 20px;
}

.mockup_CardInfoHeader{
  font-size: $cardHeaderFontSize;
  color: $color_new_textDarkBlack;
  line-height: $lineHeight;
  transition: $transition_slow;
}
.mockup_CardInfoDescription{
  font-size: $cardDescriptionFontSize;
  color: $color_new_textGunmetalBlack;
  line-height: $lineHeight;
  margin: 7px 0;
}
.mockup_CardInfoLink{
  font-size: $cardlinkFontSize;
  color: $color_CardImgblue;
  line-height: $lineHeight;
  transition: $transition_slow;
}

.mockup_CardInfoLink:hover{
  color: $color_CardImgblue2;
}


.mockup_CardInfoLinkImage{
  margin-left: 8px;
  height: 14px;

}

.mockup_CardInfoIconContainer{
  display: inline;
}

.mockup_CardInfoIconContainer:hover .mockupToolTipContainer{
  display: flex;
};

.mockup_CardInfoInfoIcon{
  margin-left: 8px;
  height: 14px;
  cursor: pointer;
}

.mockup_tooltipWarningImg{
  height: 20px;
}

.mockup_tooltipWarningTxt{
  font-size: $cardlinkFontSize;
  color: $color_new_textGunmetalBlack;
  margin-left: 10px;
}

.mockupToolTipContainer{
  display: none;
  position: absolute;
  background: $color_bg_shade1;
  padding: 10px;
  transform: translateX(10%);
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 $color_silver;
  border: solid 1px $color_silver;
  transition: $transition_slow;
  width: 232px;
}

.mockup_TooltipPointer{
  height: 10px;
  width: 10px;
  background: white;
  border-top: 1px solid $color_silver;
  border-left: 1px solid $color_silver;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.mockup_loadMoreNewItems{
  padding: 2% 0%;
  margin: 1% 10%;
  border-top: 1px solid $color_silver;
  border-bottom: 1px solid $color_silver;
  text-align: center;
  font-size: $cardDescriptionFontSize;
  cursor: pointer;
  color: $color_CardImgblue;
  //background: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: $transition_mid;
}

.mockup_loadMoreNewItems:hover{
  transform: scale(1.03);
  box-shadow: 0 1px 2px 0 $color_silver;
}

.mockup_loadMoreNewItemsDownArrow{
  height: 16px;
}

@media (max-width:500px)  {
  .mockup_HeadBar{
    top:initial;
    bottom: 0;
    border-top: 1px solid $color_silver;
  }

  .mockup_CardContainer{
    margin-top: 20px;
    margin-bottom: 80px;
  }

  .mockup_Card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mockup_CardInfoContainer{
    text-align: center;
  }
}