// Colors
$color_bg_shade1: #FFF;
$color_bg_shade2: #e6e7e9;
$color_bg_shade3: #dfe0e2;
$color_bg_highlight: #EEEEF1;

$color_text_dark_grey: #2F363F;
$color_text_mid_grey: #535B62;
$color_text_mid_grey2 : #868686;
$color_text_lite_grey: #AFB2B6;
$color_text_warning: #FF5942;
$color_text_warningBG: #ffece9;

$color_blue: #4bb7f8;

$color_accent_1: #ca3e47;
$color_accent_2: #953942;
$color_accent_3: #ca7879;
$color_accent_4: #e59091;

$color_darkmode_blackTransparent1: rgba(65, 65, 65, 0.71);
$color_darkmode_blackTransparent2: rgba(0, 0, 0, 0.76);
$color_darkmode_blackTransparent3: rgba(0, 0, 0, 0.46);

$color_darkmode_black1: #313131;
$color_darkmode_black2: #414141;
$color_darkmode_black3: #525252;
$color_darkmode_black4: #616161;

$color_text_white0: #fff;
$color_text_white1: #f0f0f0;
$color_text_white2: #a9a9a9;
$color_text_white3: #737373;

$color_btnBackground:  rgba(0, 0, 0, 0.65);;

// Shadows
$shadow_L1 : 0px 12px 24px 0px rgba(0,0,0,0.05);
$shadow_L2 : 0px 16px 64px 0px rgba(0,0,0,0.08);


// Transition Speeds
$transition_fast : all 0.06s linear;
$transition_mid : all 0.5s cubic-bezier(.25,.8,.25,1);
$transition_slow : all 0.7s cubic-bezier(.25,.8,.25,1);
$transition_UltraSlow : all 1.2s cubic-bezier(.25,.8,.25,1);

// Font Dimensions
$cardHeaderFontSize: 15px;
$cardDescriptionFontSize: 14px;
$cardlinkFontSize: 12px;
$lineHeight : 22px;

// animations
$btns_entrance_animation_duration: 1s