// Colors
$color_silver: #dde0e4;
$color_CardImgblue: #1f7ae0;
$color_CardImgblue2: #184487;

$color_new_textDarkBlack : #2f363f;
$color_new_textGunmetalBlack : #535b62;


$color_bg_shade1: #FFF;
$color_bg_shade2: #F9FAFC;
$color_bg_highlight: #EEEEF1;

$color_text_dark_grey: #2F363F;
$color_text_mid_grey: #535B62;
$color_text_mid_grey2 : #868686;
$color_text_lite_grey: #AFB2B6;
$color_text_warning: #FF5942;
$color_text_warningBG: #ffece9;

$color_blue: #4bb7f8;


// Shadows
$shadow_L1 : 0px 12px 24px 0px rgba(0,0,0,0.05);
$shadow_L2 : 0px 16px 64px 0px rgba(0,0,0,0.08);


// Transition Speeds
$transition_fast : all 0.06s linear;
$transition_mid : all 0.5s cubic-bezier(.25,.8,.25,1);
$transition_slow : all 0.7s cubic-bezier(.25,.8,.25,1);

// Font Dimensions
$cardHeaderFontSize: 15px;
$cardDescriptionFontSize: 14px;
$cardlinkFontSize: 12px;
$lineHeight : 22px;