.container {
    /* background: red; */
    width: auto;
    height:40px;
    padding-top: 20px;
}

.header {
  color: var(--color-label);
  font-size: 28pt;
  font-family: "Ubuntu", sans-serif;
  position: sticky;
  top: 0;
  text-align: center;
  padding: 16px 0px;
  background: #34343465;
  backdrop-filter: blur(10px);
}

.avatar-img {
  max-width: 200px;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
}

.imageContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  background: linear-gradient(0deg, var(--color-label-inverted), transparent);
}

.social-links-container {
  padding-bottom: 300px;
}

.tablet-container-padded {
    max-width: 1020px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }

  @media (--screen-tabletOrLower){
    .tablet-container-padded {
        width: 90%;
    }
  }