<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta name="description" content="Javascript Developer. With my childhood spent scratching crayons over paper now I have ended up doing what I love, I develop beautiful high-performance websites which can handle your complicated business needs.">

    {{!-- <link rel="icon" href="./images/emoji.png"> --}}
    {{!-- <link rel="apple-touch-icon" sizes="128x128" href="./images/fist_bump.png"> --}}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>summy.dev</title>

  </head>
  <body>
    <canvas></canvas>
    <div id="root">

    </div>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  </body>
</html>