/*
body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-image: linear-gradient(
    45deg,
  #845EC2,
  #D65DB1,
  #FF6F91,
  #FF9671,
  #FFC75F,
  #F9F871
  );  
  background-size: 500%;
  animation-name: backgroundanimation;
  animation-duration: 20s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes backgroundanimation {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
*/

body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.page {
  font-size: 100pt;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.main-app-container {
  height: 100vh;
  text-align: center;
  margin: 0px auto;
  overflow: hidden;
}

