@import "../styles/breakpoints.scss";
@import "../styles/reset.scss";
@import "../styles/variables.scss";

body {
  height: 100vh;
  scroll-behavior: smooth;
}

* {
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  font-family: 'Roboto', sans-serif;
}

:root[data-theme="dark"] {
 --primary: var(--dark-primary);
 --secondary: var(--dark-secondary);
 --tertiary-accent: var(--dark-tertiary-accent);
 --primary-bg: var(--dark-primary-bg);
 --secondary-bg: var(--dark-secondary-bg);

 --navbar-bg-color: var(--dark-navbar-bg-color);
 --container-overlay: var(--dark-container-overlay);
 --button-highlight-color: var(--dark-button-highlight-color);
 --font-color-1: var(--dark-font-color-1);

  --page-1-color: var(--dark-page-1-color);
  --page-2-color: var(--dark-page-2-color);
  --page-3-color: var(--dark-page-3-color);
  --page-4-color: var(--dark-page-4-color);
  --page-5-color: var(--dark-page-5-color);
  --page-6-color: var(--dark-page-6-color);
  --page-7-color: var(--dark-page-7-color);
  --page-8-color: var(--dark-page-8-color);
}

:root[data-theme="light"] {
  --primary: var(--light-primary);
  --secondary: var(--light-secondary);
  --tertiary-accent: var(--light-tertiary-accent);
  --primary-bg: var(--light-primary-bg);
  --secondary-bg: var(--light-secondary-bg);
  
  --navbar-bg-color: var(--light-navbar-bg-color);
  --container-overlay: var(--light-container-overlay);
  --button-highlight-color: var(--light-button-highlight-color);
  --font-color-1: var(--light-font-color-1);

  --page-1-color: var(--light-page-1-color);
  --page-2-color: var(--light-page-2-color);
  --page-3-color: var(--light-page-3-color);
  --page-4-color: var(--light-page-4-color);
  --page-5-color: var(--light-page-5-color);
  --page-6-color: var(--light-page-6-color);
  --page-7-color: var(--light-page-7-color);
  --page-8-color: var(--light-page-8-color);
}

// App styles
body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-image: linear-gradient(
    45deg,
  #845EC2,
  #D65DB1,
  #FF6F91,
  #FF9671,
  #FFC75F,
  #F9F871
  );  
  background-size: 500%;
  animation-name: backgroundanimation;
  animation-duration: 20s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes backgroundanimation {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

/* body::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5)
}
*/
.page {
  font-size: 100pt;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}


.main-app-container {
  height: 100vh;
  text-align: center;
  margin: 0px auto;
}

@include media(">=phone") {
  .main-app-container {
    width: 95%;
  }
}

@include media(">=tablet") {
  .main-app-container {
    width: 85%;
  }
}

@include media(">=desktop") {
  .main-app-container {
    width: 80%;
  }
}

