@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
    
}

.container {
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    height: 200px;
    border-radius: 4px;
}


.container::before,
.container::after {
    
    opacity: 0;
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    inset: -4px;
    background: conic-gradient(
        from var(--gradient-angle), 
        var(--color-orange), 
        var(--color-pink), 
        var(--color-purple), 
        var(--color-red),
        var(--color-purple),
        var(--color-pink),
        var(--color-orange)
    );
    animation: rotation 8s linear infinite;
    transition: opacity 500ms ease-out !important;
}


.container::after {
    filter: blur(20px);
}

.container:hover::before,
.container:hover::after {
    opacity: 1;
}


.imageBG {
    filter: opacity(0.5) blur(12px);
    width: 100%;
}

.topLineText {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.openInNewIcon {
    margin-left: 24px;
    opacity: 0;
    transition: opacity 500ms ease-out !important;
}

.container:hover .openInNewIcon {
    opacity: 1;
}

.detailsContainer {
    height: 100%;
    display: flex;
    font-size: 1.3rem;
    background: var(--color-gray-6) ;
    border-radius: 4px;
}

.image {
    padding: 20px 0 20px 20px;
    max-width: 275px;
    border-radius: 1px;
    margin-right: 16px;
    border-radius: 4px;
    overflow: hidden;
}

.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}

.category {
    white-space: nowrap;
    background: var(--color-secondary-label);
    margin: 4px 12px 6px 0;
    font-size: 1.1rem;
    color: var(--color-label-inverted);
    padding:  2px 4px;
    border-radius: 4px;
}

.textContainer {
    padding: 20px 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}


@media (--screen-tabletOrLower) { 
    .container {
        height: unset;
    }
    .detailsContainer {
        flex-direction: column;
    }
    .textContainer {
        padding: 12px;
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .categoriesContainer {
        margin-top: 4px;
    }
    .category {
        font-size: 0.9rem;
    }
    .image {
        width: 100%;
        max-width: unset;
        padding: 0;
        margin: 0;
        object-fit: cover;
    }
    .openInNewIcon {
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px;
    }
}