@import "./styles/index.module.css";

body{
  background: var(--color-system-background);
}

.container {
  height: 100svh;
  width: 100svw;
  overflow-y: scroll;
  position: absolute;
  top: 0;
}


canvas{
  border: 1px solid var(--color-system-background);
  background-color: var(--color-system-background);
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
  box-sizing: border-box;
}