.container {
    background-color: var(--color-label);
    margin: 34px auto;
    border-radius: 2px;
    max-width: 300px;
    padding: 16px 0px;
    font-family: "Ubuntu", sans-serif;
    font-size: 24pt;
}

