.container {
    background: rgb(35 35 35 / 5%);
    /* background: blue; */
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    position: fixed;
    display: flex;
    align-items: center;
    color: var(--color-label);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-size: 16pt;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    transition: transform 400ms ease-in;
    transform: translateY(-110%);
  }

  .show {
    transform: translateY(0);
  }
  
  input[name=toggle-navbar] {
    display: none;
  }
  
  input[name=toggle-navbar]:checked ~ label .barTop {
    transform: rotateZ(45deg) translate(4px, 5px);
  }
  
  input[name=toggle-navbar]:checked ~ label .barMiddle{
    background-color: transparent;
  }
  
  input[name=toggle-navbar]:checked ~ label .barBottom{
    transform: rotateZ(-45deg) translate(4px, -4px)
  }
  
  input[name=toggle-navbar]:checked  ~ #navItems-container {
    display: none;
  }

  .toggleLabel {
    margin: 16px;
    display: none;
  }
  
  .barTop {
    content: '';
    position: relative;
    display: block;
    top: -4px;
    width: 20px;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
    transition: transform 400ms ease;
  }
  
  .barMiddle {
    width: 20px;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
    transition: background 400ms ease;
  }
  
  .barBottom {
    content: '';
    position: relative;
    display: block;
    bottom: -4px;
    width: 20px;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
    transition: transform 400ms ease;
  }
  
  
  .welcome-text { 
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
    margin-left: 8px;
  }

  .resumeDownloadBtn {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .downloadText {
    margin-left: 12px;
  }

  .downloadicon {
    width: 24px;
    color: var(--color-label);
  }
  
  input[name=nav-tabs] {
    display: none;
  }
  
  .navbarDesktop {
    /* background-color: white; */
    max-width: 340px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .navbarDesktop nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .navbarDesktop nav label {
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    padding: 8px 0;
  }

  .navbarActions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .navItems {
    position: absolute;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
  }
  
  .navItems:hover {
    background-color: rgb(53 53 53 / 81%);
  }
  
  .linkBio:checked ~ nav .navItemBio {
    background-color: rgb(72 72 72 / 22%)
  } 
  
  .linkBlogs:checked ~ nav .navItemBlogs {
    background-color: rgb(72 72 72 / 22%)
  } 
  
  .linkProjects:checked ~ nav .navItemProjects {
    background-color: rgb(72 72 72 / 22%)
  } 
  
  .linkCertificates:checked ~ nav .navItemCertificates {
    background-color: rgb(72 72 72 / 22%)
  } 
  
  .linkTechstack:checked ~ nav .navItemTechstack {
    background-color: rgb(72 72 72 / 22%)
  } 
  
  .linkUses:checked ~ nav .navItemUses {
    background-color: rgb(72 72 72 / 22%)
  } 
  
  .linkContact:checked ~ nav .navItemContact {
    background-color: rgb(72 72 72 / 22%)
  } 
  
  .navbarDesktop nav .slider {
  position: absolute;
  height: 2px;
  background-color: var(--color-label);
  border-radius: 2px;
  width: calc(100%/3);
  z-index: 1;
  left: 0;
  bottom: 0;
  transition: transform 400ms ease-out;
  }
  
  .linkBio:checked ~ nav .slider {
    transform: translateX(0%);
  } 
  
  .linkBlogs:checked ~ nav .slider {
    transform: translateX(100%);
  } 
/*   
  .linkProjects:checked ~ nav .slider {
    transform: translateX(200%);
  } 
  
  .linkCertificates:checked ~ nav .slider {
    transform: translateX(300%);
  } 
  
  .linkTechstack:checked ~ nav .slider {
    transform: translateX(400%);
  } 
  
  .linkUses:checked ~ nav .slider {
    transform: translateX(500%);
  }  */
  
  .linkContact:checked ~ nav .slider {
    transform: translateX(200%);
  } 

  .resumeDownloadBtn {
    margin-right: 48px;
    font-family: "Roboto", sans-serif;
  }
  
  @media (--screen-tabletOrLower) {
    .container {
      justify-content: space-between;
    }
    .navbarDesktop {
      width: unset;
    }
    .toggleLabel {
      display: block;
    }
    .navItemsContainer {

      transform: translateY(-120%) !important;
    }
    .navbarToggle:checked ~ .navItemsCcontainer{
      transform: translateY(0%) !important;
    }
    input[name=nav-tabs]:checked ~ nav .navItems{
      background-color: transparent !important;
    }
    .navItemsContainer{
      position: fixed !important;
      z-index: -9 !important;
      left: 0;
      margin-bottom: 38px;
      /* display: none; */
      height: 100svh;
      width: 100svw;
      background-color: rgba(0, 0, 0, 0.9);
      top: 0;
      display: flex;
      flex-direction: column;
      backdrop-filter: blur(5px);
      z-index: 1;
      margin-top: 38px;
      transition: transform 400ms ease-in-out;
    }
    .navItems {
      height: 100%;
      display: flex !important;
      padding: 0 !important;
      justify-content: center;
      align-items: center;
    }
    .slider {
      width: 100% !important;
      height: calc(100%/7) !important;
      z-index: -1 !important;
      background: #32323275 !important;
      top: 0;
    }
  
    .linkBio:checked ~ nav .slider {
      transform: translateY(0%);
    } 
    
    .linkBlogs:checked ~ nav .slider {
      transform: translateY(100%);
    } 
    
    .linkProjects:checked ~ nav .slider {
      transform: translateY(200%);
    } 
    
    .linkCertificates:checked ~ nav .slider {
      transform: translateY(300%);
    } 
     
    .linkTechstack:checked ~ nav .slider {
      transform: translateY(400%);
    } 
    
    .linkUses:checked ~ nav .slider {
      transform: translateY(500%);
    } 
    
    .linkContact:checked ~ nav .slider {
      transform: translateY(600%);
    } 
  }