.container {
    display: flex;
    align-items: center;
    width: fit-content;
    background: var(--color-label);
    color: white;
    border-radius: 100px;
    padding: 4px 12px;
    cursor: pointer;
}

.container:hover {
    background: var( --color-secondary-label);
}

.icon { 
    max-width: 16px;
}

.text {
    font-family: "Ubuntu", sans-serif;
    color: var(--color-label-inverted);
    margin-left: 8px;
    white-space: nowrap;
}

@media (--screen-tabletOrLower){
    .text {
        font-size: 14pt;
    }
  }