.pageContainer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: 100vh;
    font-size: 3rem;
    padding: 0 25%;
}

@media (--screen-tabletOrLower) {
    .pageContainer {
        padding: 0 5%;
        height: unset;
    }
}