.welcomeBlock {
  height: 100vh;
  /* background: #ff000040; */
  display: flex;
  align-items: center;
}

.detailsBlock {
  min-height: 100vh;
  /* background: #ffd00040; */
  display: flex;
  align-items: center;
}

.welcomeBanner {
    text-align: center;
    width: 100%;
}

.avatarImg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* top: 180px; */
  max-width: 275px;
}

.bannerText {
  font-size: 98pt;
}


.descriptionText {
  font-family: "Caveat", cursive;
  font-size: 26pt;
  color: var(--color-secondary-label);
  position: absolute;
  /* top: 60%; */
  left: 50%;
  transform: translateX(-50%);
    /* animation: animate-to-bottom linear;
  animation-timeline: scroll(nearest); */
}

.descriptionTextEnter {
  display: none;
  font-size: 22pt;
  color: #c20000;
  cursor: pointer;
  transition: color 250ms ease-in-out;
  width: fit-content;
  margin: 0 auto;
}

.descriptionTextEnter:hover {
  color: #e40000;
}

.themeCheckbox {
  display: none;
}

.themeContainer {
  position: fixed;
  top: 16px;
  right: 46px;
  cursor: pointer;
}

.themeIcons {
  position: absolute;
  max-width: 34px;
}

.sun {
  transform: translateY(40px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: var(--transition-time);
  transition-timing-function: ease-in;
}

.themeCheckbox:checked ~ .themeContainer > .sun {
  transform: translateY(0);
  opacity: 1;
}

.moon {
  transform: translateY(0);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: var(--transition-time);
  transition-timing-function: ease-in;
}

.themeCheckbox:checked ~ .themeContainer > .moon {
  transform: translateY(-40px);
  opacity: 0;

}

.downloadBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 12px;
}

.downArrowIcon {
  width: 40px;
  position: absolute;
  color: var(--color-label);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: arrowBounce 2s ease infinite,  2s  ease-in 1s 1 normal forwards running fade-in;
}


@keyframes fade-in {
  to {opacity: 1}
}

@keyframes arrowBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Details Block */

.parallexImageContainer {
  max-width: 300px;
}

.detailsBlock {
  display: flex;
  /* flex-direction: column; */
  align-items: stretch;
  justify-content: center;
  padding: 0 20px;
}

.detailsBlock > div {
  width: 100%;
}

.bioDetailsImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bioDetailsImage {
  max-width: 380px;
  margin: 0 auto;
  position: relative;
}

.bioDetailsImageCont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.bioDetailsImageBg {
  border-radius: 8px;
}

.bioDetailsImageFg {
  position: absolute;
  top: 0;
  scale: 1.2;
  transform: translateZ(20px)
}

.bioTextHeader {
  font-size: 78pt;
  color: var(--color-label);
}

.bioDetailsText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6%;
}

.bioTextBody {
  font-size: 16pt;
  color: var(--color-secondary-label);
  line-height: 32px;
  max-width: 68%;
  text-align: left;
}

.bioTextBodyBlock {
  margin-top: 28px;
}



@media (--screen-tabletOrLower) { 
  .welcomeBlock {
    align-items: center;
  }
  .avatarImg {
    max-width: 200px;
    display: inline;
    position: relative;
    /* top: 0px; */
    left: unset;
    transform: unset;
  }
  .bannerText {
    font-size: 28pt;
  }
  .descriptionText {
    position: unset;
    transform: unset;
    margin: 10% 5%;
  }

  .detailsBlock {
    flex-direction: column;
  }
  .bioDetailsText {
    padding-left: 0;
    margin: 100px 0 35% 0;
    text-align: center;
  }

  .bioTextHeader {
    font-size: 38pt;
  }

  .bioTextBody {
    font-size: 14pt;
    max-width: 100%;
    text-align: center;
  }

  .bioDetailsImageContainer {
    margin-top: 100px
  }
  .downloadBtn {
    /* margin: 0;
    border-radius: 0px;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    background: var(--color-label); */
  }
}
