.container {
    border-radius: 4px;
    margin-bottom: 40px;
    position: relative;
    background-color: var(--color-gray-6) ;
    overflow: hidden;
    height: 200px;
    transition: box-shadow 0.5s ease-in;
}

.container:hover {
    box-shadow: 0px 0px 20px 3px #fffffe;
}

.imageBG {
    /* background-size: cover; */
    filter: opacity(0.5) blur(12px);
    width: 100%;
}

.detailsContainer {
    filter: opacity(1);
    padding: 20px;
    display: flex;
    font-size: 1.3rem;
    position: absolute;
    height: 100%;
    top: 0;
}

.image {
    max-width: 275px;
    border-radius: 1px;
    margin-right: 16px;
}

.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}

.category {
    white-space: nowrap;
    background: var(--color-secondary-label);
    margin: 4px 12px 6px 0px;
    font-size: 1.1rem;
    color: var(--color-label-inverted);
    padding:  2px 4px;
    border-radius: 4px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
