.mainContainer {
  margin: 0px 12px;
  background-color: red;
}

.container {
    cursor: pointer;
  }
  
.icons {
    position: absolute;
    max-width: 28px;
    right: 12px;
    top: 6px;
}
  
.checkbox {
    display: none;
}

.sun {
  transform: translateY(-40px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: var(--transition-time);
  transition-timing-function: ease-in;
}

.checkbox:checked ~ .sun {
  transform: translateY(0);
  opacity: 1;
}

.moon {
    transform: translateY(0px);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: var(--transition-time);
    transition-timing-function: ease-in;
}

.checkbox:checked ~ .moon {
  transform: translateY(-40px);
  opacity: 0;
}
