@import "./styles/breakpoints.scss";
@import "./styles/reset.scss";
@import "./styles/variables.scss";

* {
  transition-property: background-color color;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

:root[data-theme="dark"] {
 --primary: var(--dark-primary);
 --secondary: var(--dark-secondary);
 --tertiary-accent: var(--dark-tertiary-accent);
 --primary-bg: var(--dark-primary-bg);
 --secondary-bg: var(--dark-secondary-bg);
 --navbar-bg-color: var(--dark-navbar-bg-color);
 --button-highlight-color: var(--dark-button-highlight-color);

  --page-1-color: var(--dark-page-1-color);
  --page-2-color: var(--dark-page-2-color);
  --page-3-color: var(--dark-page-3-color);
  --page-4-color: var(--dark-page-4-color);
  --page-5-color: var(--dark-page-5-color);
  --page-6-color: var(--dark-page-6-color);
  --page-7-color: var(--dark-page-7-color);
  --page-8-color: var(--dark-page-8-color);

}

:root[data-theme="light"] {
  --primary: var(--light-primary);
  --secondary: var(--light-secondary);
  --tertiary-accent: var(--light-tertiary-accent);
  --primary-bg: var(--light-primary-bg);
  --secondary-bg: var(--light-secondary-bg);
  --navbar-bg-color: var(--light-navbar-bg-color);
  --button-highlight-color: var(--light-button-highlight-color);

  --page-1-color: var(--light-page-1-color);
  --page-2-color: var(--light-page-2-color);
  --page-3-color: var(--light-page-3-color);
  --page-4-color: var(--light-page-4-color);
  --page-5-color: var(--light-page-5-color);
  --page-6-color: var(--light-page-6-color);
  --page-7-color: var(--light-page-7-color);
  --page-8-color: var(--light-page-8-color);
}

// App styles

.app-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-bg);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.page {
  color: rgb(158, 158, 158);
  font-size: 100pt;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.p1 {
  background-color: var(--page-1-color);
}

.p2 {
  background-color: var(--page-2-color);
}

.p3 {
  background-color: var(--page-3-color);
}

.p4 {
  background-color: var(--page-4-color);
}

.p5 {
  background-color: var(--page-5-color);
}

.p6 {
  background-color: var(--page-6-color);
}

.p7 {
  background-color: var(--page-7-color);
}

.p8 {
  background-color: var(--page-8-color);
}