@import "../../../styles/variables";

.FunFileExplorer_AddItemContainer{
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 8px;
  position: fixed;
  width: 350px;
  padding: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $shadow_L1;
  cursor: default;
  user-select: none;
  top: 50%;
  left: 75%;
  transition: $transition_fast;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.FunFileExplorer_AddItemContent{
  display: flex;
  padding: 15px 0px;
  color: $color_text_dark_grey;
  font-size: 15pt;
}

.FunFileExplorer_AddItemContentValue{

}

.FunFileExplorer_AddItemField{
  text-align: right;
  color: $color_text_dark_grey;
  padding: 16px 0px;
  font-size: 15pt;
}

.FunFileExplorer_AddItemValue{
  text-align: left;
  color: $color_text_lite_grey;
  padding: 16px 8px;
  font-size: 15pt;
}

.FunFileExplorer_item_icon{
  height: 90px;
  display: flex;
  align-items: center;
  user-select: none;
}

.FunFileExplorer_item_fileText{
  position: absolute;
  color: #fff;
  margin-top: 20px;
  font-weight: 700;
  margin-left: 10px;
  user-select: none;
}

.FunFileExplorer_closeBtn{
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  cursor: pointer;
}

.grabbing{
  cursor: grabbing;
}

.FunFileExplorer_AddItemSwitchContainer{
  display: flex;
  width: 150px;
  justify-content: space-around;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.FunFileExplorer_AddItemSwitchItem{
  flex-grow: 1;
  padding: 10px;
  width: 20px;
  color: $color_text_dark_grey;
  transition: $transition_slow;
}
.FunFileExplorer_AddItemSwitchItem:hover{
  background: #e2e2e2;;
};

.FunFileExplorer_AddItemSwitchItemHighLight{
  background: $color_blue;
  color: $color_bg_shade2;
}

.FunFileExplorer_AddItemSwitchItemHighLight:hover{
  background: $color_blue;
}


.FunFileExplorer_AddItemFieldsContainer{
  width: 100%;
  text-align: center;
  padding: 5px;
}

.FunFileExplorer_AddItemInputField{

}

.FunFileExplorer_AddItemCreateBtn{
  padding: 11px 0px;
  margin: 15px 40px;
  border-radius: 8px;
  font-size: 15pt;
  background: #4bb8f8;
  color: #fff;
  cursor: pointer;
}

.FunFileExplorer_AddItemFieldInputContainer{
  margin: 30px 40px;
}

.FunFileExplorer_AddItemFieldInput:focus{
  outline: none;
}

.FunFileExplorer_AddItemFieldInput{
  width: 100%;
  height: 40px;
  font-size: 13pt;
  padding: 22px;
  border-radius: 8px;
  border: 1px solid #c7c7c7;
}

.FunFileExplorer_AddItemFieldInput::placeholder{
  color: $color_text_lite_grey;
}

.FunFileExplorer_AddItemCreateBtnDeactivate{
  background: $color_text_mid_grey;
  cursor: not-allowed;
}