@import "../../../styles/variables";

.FunFileExplorer_FileInfoContainer{
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 8px;
  position: fixed;
  width: 350px;
  padding: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $shadow_L1;
  cursor: default;
  user-select: none;
  top: 50%;
  left: 35%;
  transition: $transition_fast;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.FunFileExplorer_FileInfoContent{
  display: flex;
  padding: 15px 0px;
  color: $color_text_dark_grey;
  font-size: 15pt;
}

.FunFileExplorer_FileInfoContentValue{

}

.FunFileExplorer_FileInfoField{
  text-align: right;
  color: $color_text_dark_grey;
  padding: 16px 0px;
  font-size: 15pt;
}

.FunFileExplorer_FileInfoValue{
  text-align: left;
  color: $color_text_lite_grey;
  padding: 16px 8px;
  font-size: 15pt;
}

.FunFileExplorer_item_icon{
  height: 90px;
  display: flex;
  align-items: center;
  user-select: none;
}

.FunFileExplorer_item_fileText{
  position: absolute;
  color: #fff;
  margin-top: 20px;
  font-weight: 700;
  margin-left: 10px;
  user-select: none;
}

.FunFileExplorer_closeBtn{
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  cursor: pointer;
}