@import "../../../styles/variables";

.FunFileExplorer_sidebarContainer{
  //padding-right: 25px;
  width: 430px;
  background-color: $color_bg_shade2;
}

.FunFileExplorer_sidebarHeader{
  padding: 50px 0px 12px 20px;
  font-size: 20px;
  color: $color_text_mid_grey2;
  cursor: pointer;
}
